body {
  background: #333;
  background: #e52d27;
  background-attachment: fixed;
}
svg {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 568px;
  width: 600px;
  height: 168px;
  background: none;
  zoom: 50%;
}
path {
  stroke: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #eee;
}
